---
// Server ran / terminal ran code
import SiteLayout from '../layouts/SiteLayout.astro'
const posts = await Astro.glob('./posts/*.md');
import Post from '../components/Post.astro'

---
<SiteLayout>
	<main>
		{posts.map(post => (
		<Post class="post-container">
			<a href={post.url}><h2>{post.frontmatter.title}</h2></a>
			<h4>{post.frontmatter.description}</h4>
			<p>{post.frontmatter.generated}</p>
			<p class="author">{post.frontmatter.author}</p>
			<p>{post.frontmatter.url}</p>
		</Post>
		))}
	</main>
</SiteLayout>
<style>
	main {
		max-width:  60%;
		margin:  auto;
		background-color: hsl(220, 50%, 95%);
		padding:  1rem;
		margin-top: 10rem;
	}
	.landing {
		margin: 1rem;
		padding-bottom:  0rem;
		overflow:  hidden;
		display: grid;
		place-items: center;
	}
	img {
		max-width: 400px;
		position: relative;
		bottom:  -1rem;
		margin: auto;
		
	}
	a {
		text-decoration:  none;
		color: black;
	}
	a:hover {
		text-decoration:  underline;
	}
	h2 {
		border-bottom: 1px solid black;
	}
</style>