---
import SiteLayout from '../layouts/SiteLayout.astro'
const {frontmatter} = Astro.props;
---
<SiteLayout>
   <article>
   <!-- ... -->
      <header>
         <h1>{frontmatter.title}</h1>
         <h3>{frontmatter.description}</h3>
      </header>
      
      <main>
      
      <slot />
      
      </main>
      <footer><span>This post was written by {frontmatter.author} on the {frontmatter.date}</span></footer>
   </article>
   <!-- ... -->
</SiteLayout>
<style>
   article {
      max-width: 100%;
      margin: auto;  
      background-color:  hsl(220, 50%, 95%);
      margin-top: 5rem;
      border-radius: 2px;
      display: grid;
      margin-bottom: 10rem;
      grid-column-start: 2;
   }
   article header {
      background-color:rebeccapurple;
      display: grid;
   }
   article header h1 {
      font-size:  32px;
      line-height: 1em;
      margin: 0;
      padding: 0;
      text-align: center;
      padding-block: 1rem;
      color: whitesmoke
      
   }
   article header span {
      place-self: center;
   }
   article main {
      padding-inline: 2rem;
      padding-block: 3rem;
   }

   article footer {
      padding-block: 1rem;
      text-align: center;
   }
</style>