---
import SiteLayout from '../layouts/SiteLayout.astro'
const {frontmatter} = Astro.props;
---
<SiteLayout>
   <article>
   <!-- ... -->
      <header>
         <h1>{frontmatter.title}</h1>
         <span>This post was written by {frontmatter.author} on the {frontmatter.date}</span>
      </header>
      <h3>{frontmatter.description}</h3>
      <div>
      <slot />
      </div>
      
   </article>
   <!-- ... -->
</SiteLayout>
<style>
   article {
      max-width: 100%;
      margin: auto;  
      background-color:  hsl(220, 50%, 95%);
      margin-top: 5rem;
      padding: 1rem;
      border-radius: 2px;
      display: grid;
      margin-bottom: 2rem;
      grid-column-start: 2;
   }
   article div {
      padding: 1rem;
   }
   article header {
      border-bottom:  1px solid black;
      display: grid;
   }
   article header h1 {
      font-size:  32px;
      line-height: 1em;
      margin: 0;
      padding: 0;
      text-align: center;
      padding-bottom: 0.5rem;
      
   }
   article header span {
      place-self: center;
   }
   article h3 {
      padding-top: 2rem;
      padding-bottom: 1rem;
      max-width: 60%;
      place-self: center;
      text-align: center;
   }
</style>